.color-picker{
    width:220px
}
.color-picker-option{
    height:25px
}
.color-picker-square{
    display:inline-block;
    width:18px;
    height:18px;
    margin-right:5px;
    border:1px solid #000
}
.color-picker-label{
    display:inline-block;
    vertical-align:bottom;
    padding-bottom:3px
}
.color-legend {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #feffff;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(96, 95, 95, 0.2);
    animation: pulse 2s infinite;
    border-radius: 10px;
    z-index: 1000;
}

.btn-legenda {
    cursor: pointer;
    margin: 5px;
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    background-color: #364046;
    border-radius: 30px;
    box-shadow: 0 4px 6px #364046;
    width: 35px;
    height: 35px;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.btn-legenda:hover {
    background-color: #d3d3d3;
}

.icone {
    font-size: 30px;
    font-weight: 800;
    color: red;
}
.icone:hover {
    display: none;
}

.hide {
    display: none;
}

